.places {
   width: auto;
   margin-top: 64px;
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: 50px;  
}

.places:last-of-type {
    padding: 0;
    margin: 0;
}

@media (min-width:768px) {
    .places{
        margin:88px 24px 0;
        gap:80px;
    }
    
}

@media (min-width:1024px) {
    .places{
        margin:92px 48px 0;
    }
    
}

@media (min-width:1280px) {
    .places{
        margin:92px 148px 0;
        
    }
    
}