.cover__subtitle {
    margin: 16px 16px 0;
    box-sizing: border-box;
    padding-bottom: 33px;
    width: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    position: relative;
}


@media (min-width:768px) {
    .cover__subtitle {
        margin: 32px 204px 0;
        padding-bottom: 115px;
        font-size: 18px;
        line-height: 22px;
    }
}

@media (min-width:1024px) {
    .cover__subtitle {
        margin: 32px 332px 0;
        padding-bottom: 195px;
        
    }
}

@media (min-width:1280px) {
    .cover__subtitle {
        margin: 32px 412px 0;
        padding-bottom: 245px;
    }
}