.footer__link {
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
    margin-bottom: 32px;
}

.footer__link:nth-of-type(5n) {
    margin-bottom: 48px;
}

@media (min-width:768px) {
    .footer__link {
        font-size: 16px;
        line-height: 18px;
        margin-right: 18px;
        margin-bottom: 0;
     }
    .footer__link:nth-of-type(5n) {
        margin-right: 0;
        margin-bottom: 0;
    }
 }

 