
.intro {
    margin: 64px 16px 0;
    width: auto;
}

@media (min-width:768px) {
    .intro {
        margin:110px 24px 0;
    }
}

@media (min-width:1024px) {
    .intro {
        margin:114px 286px 0 48px;
    }
}

@media (min-width:1280px) {
    .intro {
        margin:114px 442px 0 148px;
    }
}