.lead__caption {
    min-width: 158px;
    margin:8px 146px 0 16px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
}

@media (min-width:768px) {
    .lead__caption {
        margin:8px 586px 0 24px;
        
    }
}

@media (min-width:1024px) {
    .lead__caption {
        margin:8px 818px 0 48px;
    }
}

@media (min-width:1280px) {
    .lead__caption {
        margin:8px 826px 0 0;
    }
}