
.place {
    width: 100%;
    list-style: none;
    padding: 0;

}

@media (min-width:768px) {
    .place {
        display: grid;
        grid-template-columns: calc((340/720)*100%) 1fr;
        grid-template-rows: repeat(2, auto);
        gap:48px 28px;
        grid-template-areas: 
            "title website"
            "image paragraphes";
    }
    
}

@media (min-width:1024px) {
    .place {
        gap:48px 32px;
    }
    
}

@media (min-width:1280px) {
    .place {
        gap: 48px 40px;
        grid-template-columns: calc((460/984)*100%) 1fr;
        grid-template-rows: repeat(2, auto);
    }
    
}