
.footer {
    width: auto;
    margin: 64px 118px 24px 16px;
 }

 @media (min-width:768px) {
    .footer {
        margin: 88px 24px 24px;
     }
 }

 @media (min-width:1024px) {
    .footer {
        margin-top: 92px;
     }
 }
 
 