.place__url-heading {
    width: 100%;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #AAAAAA;
    letter-spacing: 2px;
    margin-bottom: 12px;
}


