.place__paragraphes {
    margin: 32px 16px 0;
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}


@media (min-width:768px) {
    
    .place__paragraphes {
        margin: 0;
        grid-area: paragraphes;
    }
    
}

@media (min-width:1024px) {
    
    .place__paragraphes {
        gap:27px;
    }
    
}


@media (min-width:1280px) {
    
    .place__paragraphes {
        gap:26px;
    }
    
}